* {
  margin: 0;
  padding: 0;
}


/* This is reusable */
.black-colormain {
  color: #252020;
}

.main-frame {
  background-color: #FFFFFF;
}

.uppercase-it {
  text-transform: uppercase;
}


/* This one is reusable */
.font-w700 {
  font-weight: 700;
}

.main-nav-container {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px 10px 0px;
  margin-top: 21px;
}

.marginleft172px {
  margin-left: 172px;
}

.blackbackground {
  background-color: #000000;
}

.NavBarBlackParent {
  display: flex;
  height: 20px;
  padding: 8px 274px 8px 274px;
  justify-content: space-between;
  color: rgb(147, 47, 66);
  list-style-type: none;
}

.parentnavdivlinks {
  display: flex;
  justify-content: center;

}

.child1navcomplinks {
  display: flex;
  max-width: 636px;
  list-style: none;
  gap: 64px;
  margin-top: 21px;
}

.borderbottom {
  border-bottom: 1px solid rgb(223 216 216);
  margin-top: 30px;
  /* width: 100px; */
}

.combinedDivParent {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.makingwidtheadingdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 666px;
  height: auto;
  row-gap: 10px;
}

.text-size-discover {
  font-weight: 500;
  font-size: 45px;
}


.textaligning-text {
  display: flex;
  align-items: center;
  width: 550px;
  justify-content: center;
  text-align: center;
  font-weight: 400;
}


.positionrelative {
  position: relative;
}

.lorempositionabsolute {
  position: absolute;
  bottom: -1.5px;
  right: 141px;
}


.fntweight-700 {
  font-weight: 700;
}

.right-side-links {
  display: flex;
  gap: 22px;
  align-items: center;
}

.doflexandalcenter {
  display: flex;
  align-items: center;
  gap: 3px;
}



/* this one here is reusable */
.filteredmain-champ {
  width: 1248px;
}

.onehunwidth {
  width: 100%;
}

.parentdivmainfilter {
  display: flex;
  justify-content: center;
}


.items-maincss {
  font-size: 18px;
  line-height: 40px;

}

.left-side {
  display: flex;
  align-items: center;
  gap: 75px;
}

.hide-filters-text {
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #888792;
}

.mttop50px {
  margin-top: 50px;
}

.rigt-side-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}


.filtered-heremain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bbbaba;
  border-bottom: 1px solid #bbbaba;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* reusable */
.elementpandb {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #bbbaba;
  border-bottom: 1px solid #bbbaba;
}

.parent-produc-cum-filter {
  display: flex;
  justify-content: center;
}

.child-produc-cum-filter {
  display: flex;
  gap: 10px;
}


/* This is reusable */
.flcolumn {
  display: flex;
  flex-direction: column;
}

.lhsfilter-container {
  flex-grow: 25;
}

.rhsfilter-container {
  flex-grow: 9;
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-rows: 462px 462px; */
  grid-gap: 10px;
  gap: 10px;
}

/* This would be use as a conditional statement  */
.rhsfilter-container-4t {
  flex-grow: 9;
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* grid-template-rows: 462px 462px; */
  grid-gap: 10px;
  gap: 10px;
}

.checkboxlhs[type=checkbox] {
  width: 21px;
  height: 21px;
}

.group-lhs-customize {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* reusable in nature */
.alignflex {
  display: flex;
  align-items: center;
}


.for-filter-all-content {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}

.group-single-filter {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

.postop20px {
  position: relative;
  top: 20px;
}

.product-div-size {
  display: flex;
  flex-direction: column;
  height: 462px;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.productimagewidth {
  width: 300px;
  height: 399px;
}

.fontsizeandweight70018px {
  font-weight: 700;
  font-size: 18px;
}

.fontsizeandweight40014px {
  font-weight: 400;
  font-size: 14px;
}

/* Reusable */
.fontcolorgrayblack {
  color: #888792
}

.margin-right-10px {
  align-self: flex-start;
  margin-left: 9px;
}


/* Reusable */
.margintop10px{
  margin-top: 10px;
}